// using the theme from the shared library via the 'includePaths' property in project.json
// @use 'variables' as v;
@use 'main' as main;
@use 'variables' as vars;

hr {
  border-top: 1px solid vars.$color-light;
}

[contenteditable] {
  -webkit-user-select: auto;
  user-select: all;
}
